/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls
**/doc
.
.git/config

/rel/artifacts

.DS_Store

/priv/crypto/c_dist
/priv/crypto/storage_nonce
/priv/storage
/priv/p2p/last_sync
/priv/p2p/last_sync/*
/priv/p2p/test_seeds
/priv/proposal_logs/

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/*

# Self signed cert are used for local and dev purposes
/priv/cert


/assets/node_modules

log_*

/.idea/
uniris-node.iml
projectFilesBackup
