/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls
**/doc
.

/priv/crypto/c_dist
/priv/crypto/storage_nonce
/priv/storage
/priv/last_sync
/priv/p2p/test_seeds
/priv/static/*

/assets/node_modules/*