/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls
**/doc
.

/apps/uniris_core/priv/crypto/c_dist
/apps/uniris_core/priv/crypto/storage_nonce
/apps/uniris_core/priv/storage
/apps/uniris_core/priv/last_sync