<div class="text_regular">Nodes worldmap emplacement</div>
<br />
<div class="columns" style="justify-content: center; height: 100%;">
  <div class="column is-full-mobile is-full-tablet is-full-desktop">
    <div id="worldmap" phx-hook="worldmap" style="height: 78vh; width: 100%"></div>
  </div>
</div>
