<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "UNIRIS" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <section class="container explorer">
      <header class="row explorer-header">
          <div class="column column-20">
              <a href="<%= Routes.explorer_path(@conn, :index) %>">
                <img src="/images/logo.svg" alt="UNIRIS logo" title="UNIRIS" />
              </a>
          </div>
          <div class="column column-50">
              <form class="search-form" action="<%= Routes.explorer_path(@conn, :search) %>">
                  <div class="row">
                      <input type="text" placeholder="Search transaction by address..." id="address" name="address" class="column-80">
                      <button class="button column column-20">Submit</button>
                  </div>
              </form>
          </div>
      </header>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
