<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "UNIRIS" %></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="container explorer">
      <header class="explorer-header">
          <nav class="row">
            <div class="column column-10 column-offset-10">
              <a href="<%= Routes.explorer_path(@conn, :index) %>">
                  <img src="/images/logo.svg" alt="UNIRIS logo" title="UNIRIS" />
              </a>
            </div>
            <div class="column column-offset-10 column-60">
              <ul>
                <li><a href="<%= Routes.live_path(@conn, UnirisWeb.TransactionListLive) %>">Transactions</a></li>
                <li><a href="<%= Routes.explorer_path(@conn, :chain) %>">Chains</a></li>
                <li><a href="<%= Routes.node_path(@conn, :index) %>">Nodes</a></li>
              </ul>
            </div>
          </nav>
      </header>
      <main role="main" class="row explorer-main">
          <div class="column column-80 column-offset-10">
            <%= @inner_content %>
          </div>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
