<html>
<head>
    <meta charset="UTF-8">
    <title>Index of <%=@cwd %></title>
    <style>
    html {
        background-color: #f6f6f6;
        font-family: sans-serif;
    }
    body {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        padding: 3em;
        min-width: 30em;
        max-width: 65em;
        margin: 4em auto;
        background-color: #fff;
        color: #000;
    }

    a {
        text-decoration: none;
    }

    table.index {
        width: 90%;
        margin: 0 auto;
    }
    table.index thead {
        font-size: 130%;
    }
    table.index thead th {
        text-align: start;
    }
    table.index td.size {
        text-align: end;
        padding-inline-end: 1em;
    }
    </style>
</head>
<body>

    <h1>Index of <%=@cwd %></h1>

    <%= if @parent_dir_href do  %>
        <p><a {@parent_dir_href}>Up to higher level directory</a></p>
    <% end %>

    <table class="index">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <%= for dir <- @dirs do %>
                <tr>
                    <td>
                        <table class="ellipsis">
                            <tbody>
                                <tr>
                                    <td><a class="dir" {dir.href}><%= dir.name %></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td></td>
                    <td><%= datetime_to_str(dir.last_modified) %></td>
                </tr>
            <% end %>
            <%= for file <- @files do %>
                <tr>
                    <td>
                        <table class="ellipsis">
                            <tbody>
                                <tr>
                                    <td><a class="file" {file.href}><%= file.name %></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="size">? KB</td>
                    <td><%= datetime_to_str(file.last_modified) %></td>
                </tr>
            <% end %>

        </tbody>
    </table>

</body>
</html>
