<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "ARCHETHIC" %></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="container is-fluid">
      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-5 is-uppercase" href={Routes.live_path(@conn, ArchethicWeb.ExplorerIndexLive)}>
            <img src={Routes.static_path(@conn, "/images/logo_full_white.svg")} alt="archethic_logo"/>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
       <div id="navbar" class="navbar-menu">


          <div class="navbar-end">



              <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.DashboardLive)}>Dashboard </a>



            <%= if faucet?() do %>
              <a class="navbar-item" href={Routes.faucet_path(@conn, :index)}>
                Faucet
              </a>
            <% end %>
            <div class="navbar-item has-dropdown is-hoverable" >
              <a class="navbar-link" href={Routes.explorer_path(@conn, :chain)}>Chains</a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.OracleChainLive)}>
                  Oracle
                </a>
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.BeaconChainLive)}>
                  Beacon
                </a>
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.RewardChainLive)}>
                  Reward
                </a>
                 <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.NodeSharedSecretsChainLive)}>
                  Node Shared Secrets
                </a>
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.OriginChainLive)}>
                   Origin
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable" >
              <a class="navbar-link" href={Routes.live_path(@conn, ArchethicWeb.NodeListLive)}>
                Nodes
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item"  href={Routes.live_path(@conn, ArchethicWeb.WorldMapLive)}>
                  Map
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Governance
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.CodeViewerLive)}>
                  Code Viewer
                </a>
                <a class="navbar-item" href={Routes.live_path(@conn, ArchethicWeb.CodeProposalsLive)}>
                  Code Proposals
                </a>
              </div>
            </div>
            <a class="navbar-item" href="https://archethic-foundation.github.io/archethic-docs/" target="_blank">
              Docs
            </a>
          </div>
        </div>
      </nav>
      <main class="pt-6">
        <%= @inner_content %>
      </main>
    </div>

    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>

  </body>
</html>
