.cover-main {
  color: #fff;
}

.cover-main .anchor span {
  color: #fff!important;
}

.cover-main>p:last-child a {
  border: 1px solid #fff!important;
  color: #fff!important;
}

.cover-main>p:last-child a:hover {
  background: #fff!important;
  color: #000!important;
}

.cover-main>p:last-child a:last-child {
  background: #fff!important;
  color: #000!important;
  border: none!important;
}
