body {
  background: #000000;
  color: $color-neutral-0;
  min-height: 100vh;
  font-family: 'PPTelegraf Regular';
  background: $color-brand-plum-800;
  background: radial-gradient(circle, $color-brand-plum-400 0%, #000000 95%);
}

.text_title {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  background: var(--gradient-1, linear-gradient(209deg, $color-brand-blue-400 0%, $color-brand-raspberry-300 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  padding-bottom: 1px;
  font-family: 'PPTelegraf Regular' !important;
  line-height: 1;
}

.text_subtitle {
  color: $color-neutral-0;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1px;
  font-family: 'PPTelegraf UltraLight';
}

.text_regular {
  color: #fff;
  font-family: 'PPTelegraf Regular';
}

.text_regular_address {
  color: #fff;
  font-family: 'RobotoMono Regular';
}

.text_regular_positive {
  color: $color-system-positive-500;
  font-family: 'PPTelegraf Regular';
}

.text_regular_error {
  color: $color-system-danger-500;
  font-family: 'PPTelegraf Regular';
}

.text_regular_info {
  color: $color-system-info-500;
  font-family: 'PPTelegraf Regular';
}


.main_input {
  box-shadow: none !important;
  background: none !important;
  border-color: #fbfbfb75 !important;
  color: #fff !important;
}

.main_input::placeholder {
  color: #fff !important;
}

pre {
  border: thin solid #eae8e8;
}

.text_wrap {
  word-break: break-word;
  display: block;
  margin-bottom: 5px;
}

.modal-content {
  background: transparent !important;
  border: none !important;
}

.is-absolute {
  position: absolute;

  &.on-top-right {
    top: 5px;
    right: 5px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0;
}

.input-field {
  width: 720px;
  padding: 1.5em;
  border-radius: 10px;
  border: 0.5px solid $color-brand-purple-400;
  background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 0.3) 100%);
  color: white;
  font-size: 1em;
  outline: none;
  box-shadow: none;
  font-family: 'RobotoMono Regular';
}

.input-field::placeholder {
  color: white;
  opacity: 1;
  font-family: 'PPTelegraf Regular';
  font-weight: 400;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  color: white;
}


.title_row {
  display: flex;
  align-items: center;
  color: #CCC1FA;
}

.title_row .text-large {
  font-size: 20px;
  margin-left: 20px;
}

.title_row img {
  height: 20px;
  padding-right: 10px;
}


.title_row .title_text-medium {
  font-size: 12px;
  margin-left: 4px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

.title_spacer {
  width: 16px;
}

.box {
  color: #FFF;
  width: 650px;
  min-height: 400px;
  max-height: 600px;
  background: $color-brand-purple-400;
  border-radius: 24px;
  padding: 20px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.shadow {
  box-shadow: 0px 5px 10px $color-neutral-900;
}

.box::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.7), #131313);
  border-radius: 26px;
}

.menu-list {
  color: #FFF;
}

.box1 {
  background: $color-neutral-900;
  color: white;
  max-width: 550px;
  height: 200px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('/images/embrace-journey-card-invest-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.box1 h1,
.box2 h1 {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 1.75rem;
  font-family: 'PPTelegraf Regular' !important;
}

.box1 h2,
.box2 h2 {
  font-size: 1.125rem;
  margin-left: 40px;
  font-family: 'PPTelegraf UltraBold' !important;
  font-weight: 800;
}

.box2 {
  background: $color-brand-raspberry-400;
  color: white;
  max-width: 550px;
  height: 200px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('/images/embrace-journey-card-building-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.ae-box {
  border-radius: 24px;
  padding: 1.5em;
  color: white;
  margin: 1em 0;
}

.ae-box a {
  color: white;
  text-decoration: none;
  transition: color 0.1s;
}

.ae-box a:hover {
  color: #fbfbfb75;
}

.ae-box.ae-purple {
  background: $color-brand-purple-400;
}

.ae-box.ae-gray {
  background: #201844;
}

.ae-table td {
  padding: 0 0.75em;
}

.ae-table td>a {
  padding: 0.5em 0em;
  display: block;
}

.ae-table td>a:hover {
  color: white;
}

.address {
  font-family: 'RobotoMono Regular' !important;
  word-break: break-all;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.spacer {
  height: 20px !important;
}

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'PPTelegraf Regular';
  font-weight: 400;
  height: 44px;
  padding: 0 20px;
  background-image: linear-gradient(20deg, $color-brand-blue-400, $color-brand-raspberry-300);
  border: none;
  border-radius: 9999px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-neutral-0;
  opacity: 0.2;
}

.tag:not(body).is-gradient {
  color: white;
  background-color: #202020;
  padding: 1em;
  border: 1px solid $color-brand-raspberry-300;
  border-radius: 14px;
}

.kpi {
  color: #CCA4FB;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
}