$primary: #006cd2;
$explorer_bg: linear-gradient(-30deg,#00a4db 30%,#006cd2 70%);

$navbar-burger-color: #fff;
$navbar-dropdown-background-color: #006cd2;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-item-hover-color: #fbfbfb75;
$navbar-background-color: "transparent";
$navbar-item-color: #fff;
$navbar-item-hover-color: #fbfbfb75;
$navbar-item-hover-background-color: transparent;

$card-header-background-color: #fff;

$modal-background-background-color: #0a0a0a61;

//color variables
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
