$primary: #006cd2;
$explorer_bg: linear-gradient(-30deg,#00a4db 30%,#006cd2 70%);

$navbar-burger-color: #fff;
$navbar-dropdown-background-color: #006cd2;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-item-hover-color: #fbfbfb75;
$navbar-background-color: "transparent";
$navbar-item-color: #fff;
$navbar-item-hover-color: #fbfbfb75;
$navbar-item-hover-background-color: transparent;

$card-header-background-color: #fff;

$modal-background-background-color: #0a0a0a61;