<h3 class="subtitle is-size-4" style="color:white; text-align: center;">Nodes worldmap emplacement</h3>
<br/>
<div class="columns" style="justify-content: center; height: 100%;">
  <div class ="column is-full-mobile is-full-tablet is-full-desktop">
    <div id="worldmap" phx-hook="worldmap" style="height: 78vh; width: 100%"></div>
  </div>
</div>
