<div class="text_subtitle">Cross Validation Stamps (<%= Enum.count(@transaction.cross_validation_stamps) %>) </div>
<div class="columns mt-4">
    <div class="column">
        <div class="text_regular">Coordinator signature</div>
        <div class="text_regular_address"><%= Base.encode16(@transaction.validation_stamp.signature) %></div>
    </div>
</div>

<div class="columns mt-4 list-card">
    <div class="column is-12">
        <%= for cross_validation_stamp <- @transaction.cross_validation_stamps do %>
            <div class="columns">
                <div class="column is-2 list-card-item">Node public key</div>
                <div class="column">
                    <%= link to: Routes.live_path(@socket, ArchethicWeb.Explorer.NodeDetailsLive, Base.encode16(cross_validation_stamp.node_public_key)) do%>
                        <div class="list-card-item-address"><%= Base.encode16(cross_validation_stamp.node_public_key) %></div>
                    <% end %>
                </div>
            </div>
            <div class="columns">
                <div class="column is-2 list-card-item">Signature</div>
                <div class="column is-8">
                    <div class="list-card-item-address"><%= Base.encode16(cross_validation_stamp.signature) %></div>
                </div>
            </div>       
        <% end %>
    </div>
</div>
<br/>
<br/>