
<div class="box">
    <div class="columns">
        <div class="column">
            <h1 class="subtitle has-text-centered-mobile has-text-black">Transaction invalid</h1>
        </div>
    </div> 

    <div class="columns">
        <div class="column">
            <%= Base.encode16(@address) %>
        </div>
    </div>
</div>