<div class="row explorer-card">
    <div class="column">
        <header class="row">
            <div class="column">
                <h3>Transaction invalid</h3>
                <div class="row">
                    <div class="column">
                        <%= Base.encode16(@address) %>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>